/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#container-big {
    width: auto;
    height: auto;
    background-color: black;

    .container-small {
        margin: 0 auto;
        background-color: white;
        width: 1348px;
        height: auto;

        box-sizing: border-box;

        nav {
            header {
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                background-color: #f9f6f7;
                padding: 10px 88px 10px 90px;

                .info-web {
                    width: 385px;
                    height: auto;

                    ul {
                        display: flex;

                        a {
                            text-decoration: none;

                            li {
                                display: flex;

                                .img-info-web {
                                    width: 28px;
                                    height: 24px;
                                    background-color: #e67c8e;
                                    box-sizing: border-box;

                                    i {
                                        font-size: 10px;
                                        color: #fffefe;
                                        display: block;
                                        text-align: center;
                                        padding-top: 8px;

                                    }
                                }

                                span {
                                    font-size: 9.75px;
                                    color: #838383;
                                    padding: 5px 0px 0px 9px;
                                }

                                &:first-child {
                                    margin-right: 42px;
                                }
                            }
                        }

                    }
                }

                .info-user {
                    ul {
                        display: flex;

                        a {
                            text-decoration: none;

                            li {
                                height: 15px;
                                box-sizing: border-box;
                                padding: 2px 0px 2px 10px;
                                display: flex;
                                border-left: 1px solid #838383;
                                margin-left: 10px;

                                p {
                                    padding-left: 23px;
                                    font-size: 9.75px;
                                    color: #838383;
                                }
                            }
                        }
                    }
                }
            }

            .Consumer-info {
                display: flex;
                padding: 52px 0px 0px 92px;

                .info-product {
                    text-decoration: none;

                    ul {
                        width: 224px;
                        height: 50px;
                        display: flex;
                        margin-right: 80px;

                        .icon-first {
                            width: 51px;
                            height: 50px;
                            background-color: #e67c8e;
                            text-align: center;
                            margin-right: 10px;

                            i {
                                color: #ffffff;
                                font-size: 32px;
                                padding-top: 10px;
                            }
                        }

                        .icon-second {
                            background-color: #a2e08e;
                            width: 51px;
                            height: 50px;
                            text-align: center;
                            margin-right: 10px;

                            i {
                                color: #ffffff;
                                font-size: 32px;
                                padding-top: 10px;
                            }
                        }

                        .icon-thirt {
                            width: 51px;
                            height: 50px;
                            text-align: center;
                            margin-right: 10px;
                            background-color: #fcad73;

                            i {
                                color: #ffffff;
                                font-size: 32px;
                                padding-top: 10px;
                            }
                        }

                        .son-first {
                            p {
                                font-family: Arial, Helvetica, sans-serif;
                                color: #e67c8e;
                                font-size: 15px;
                                padding: 5px;
                            }
                        }

                        .son-second {
                            color: #777777;

                            .word-last {
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 11px;
                                padding-top: 18px;
                            }
                        }
                    }
                }
            }

            .search-menu {
                width: 1171px;
                margin-top: 42px;
                display: flex;
                border-top: 1px solid #e8e8e8;
                margin-left: 90px;
                margin-bottom: 25px;

                ul {
                    width: 860px;

                    display: flex;
                    padding-top: 26px;

                    a {
                        text-decoration: none;

                        li {
                            margin-right: 46px;

                            p {
                                color: #333333;
                                font-weight: bold;
                            }

                            .first {
                                color: #ed9fac;
                            }
                        }

                    }
                }

                .search {
                    display: flex;
                    margin-top: 10px;

                    .keyword {
                        width: 272px;
                        height: 37px;
                        border: none;
                        background-color: #ededed;
                        color: #b5b5b5;
                        font-size: 9px;
                        padding: 5px 0px 0px 10px;
                        box-sizing: border-box;
                        outline: 0;
                    }

                    .search-info {
                        width: 39px;
                        height: 37px;
                        border: none;
                        border-radius: 5px;
                        background: url(../images/anh8.png) no-repeat right;
                    }
                }
            }
        }

        .banner {
            a {
                text-decoration: none;

                ul {
                    position: relative;

                    .first {
                        width: 498px;
                        height: 451px;
                        background: url(../images/anh10.png) no-repeat right;
                        position: absolute;
                        bottom: 2px;
                        left: 56px;
                    }

                    .second {
                        width: 290px;
                        height: 60px;
                        background: url(../images/anh11.png) no-repeat right;
                        position: absolute;
                        top: 140px;
                        right: 480px;
                    }

                    .thirt {
                        width: 640px;
                        height: 50px;
                        background: url(../images/anh12.png) no-repeat right;
                        position: absolute;
                        top: 222px;
                        right: 130px;
                    }

                    .detail {
                        width: 113px;
                        height: 43px;
                        background-color: #e67c8e;
                        position: absolute;
                        top: 292px;
                        right: 648px;
                        text-align: center;
                        box-sizing: border-box;

                        p {
                            color: #ffffff;
                            padding-top: 15px;
                        }
                    }
                }
            }
        }

        .menu-cart {
            padding: 35px 88px 0px 90px;

            .menu-info-product {
                ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        width: 374px;
                        height: 437px;
                        box-sizing: border-box;
                        background-color: #fbf9fa;
                        text-align: center;

                        img {
                            margin-top: 60px;
                        }

                        h2 {
                            margin-top: 35px;
                            font-weight: bold;
                            font-size: 19.68px;
                        }

                        p {
                            margin: 20px 36px 0px 36px;
                            font-size: 14.75px;
                        }
                    }
                }
            }

            .menu-product-cart {
                .title {
                    width: 173px;
                    height: 45px;
                    margin: 28px 0px;
                    background-color: #e67c8e;
                    color: #ffffff;
                    text-align: center;
                    box-sizing: border-box;
                    padding-top: 15px;
                    border-radius: 5px;
                }

                ul {
                    width: 1171px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .cart-new {
                        width: 268px;
                        height: 403px;
                        text-align: center;
                        box-sizing: border-box;
                        border: 1px solid #efefef;
                        background: url(../images/anh17.png) no-repeat right 9px top 10px;
                        margin-bottom: 20px;

                        .first {
                            text-decoration: none;

                            img {
                                padding: 88px 0px 65px 0px;
                                border-bottom: 1px solid #efefef;
                            }
                        }

                        h2 {
                            margin: 18px 0px 12px 0px;
                            font-weight: bold;
                        }

                        p {
                            color: #a3a3a3;
                        }

                        .second {
                            text-decoration: none;
                            margin: 18px 0px 20px 0px;
                            width: 103px;
                            height: 43px;
                            display: inline-block;
                            border: 1px solid #efefef;
                            color: #666666;
                            box-sizing: border-box;
                            padding-top: 13px;
                        }
                    }

                    .cart-sale {
                        width: 268px;
                        height: 403px;
                        text-align: center;
                        box-sizing: border-box;
                        border: 1px solid #efefef;
                        background: url(../images/anh18.png) no-repeat right 9px top 10px;
                        margin-bottom: 20px;

                        .first {
                            text-decoration: none;

                            img {
                                padding: 88px 0px 65px 0px;
                                border-bottom: 1px solid #efefef;
                            }
                        }

                        h2 {
                            margin: 18px 0px 12px 0px;
                            font-weight: bold;
                        }

                        p {
                            color: #a3a3a3;
                        }

                        .second {
                            text-decoration: none;
                            margin: 18px 0px 20px 0px;
                            width: 103px;
                            height: 43px;
                            display: inline-block;
                            border: 1px solid #efefef;
                            color: #666666;
                            box-sizing: border-box;
                            padding-top: 13px;
                        }
                    }
                }
            }

            .bonus {
                background-color: #faf8f9;
                width: 1348px;
                margin-left: -90px;
                margin-top: 30px;
                margin-bottom: 15px;

                ul {
                    display: flex;
                    margin-left: 90px;
                    width: 1171px;
                    justify-content: space-between;

                    li {
                        width: 585px;
                        height: 256px;
                        box-sizing: border-box;
                        display: flex;
                        padding-top: 40px;

                        .thumb-first {
                            width: 150px;
                            height: 150px;
                            box-sizing: border-box;
                            background-color: #e67c8e;
                            border-radius: 50%;
                            text-align: center;
                            padding-top: 45px;

                            i {
                                font-size: 60px;
                                color: #ffffff;
                            }
                        }

                        .info-bonus {
                            width: 380px;
                            height: 178px;
                            background-color: #ffffff;
                            box-sizing: border-box;
                            margin-left: 43px;
                            padding: 24px 19px 0px 27px;

                            h2 {
                                font-weight: bold;
                            }

                            p {
                                font-size: 15px;
                                font-family: Arial, Helvetica, sans-serif;
                                margin: 18px 0px;
                            }

                            b {
                                color: #e67c8e;
                                font-size: 15px;
                                font-family: Arial, Helvetica, sans-serif;
                                font-style: italic;
                                margin-left: 243px;
                            }
                        }

                        .thumb-second {
                            width: 150px;
                            height: 150px;
                            box-sizing: border-box;
                            background-color: #a2e08e;
                            border-radius: 50%;
                            text-align: center;
                            padding-top: 45px;
                            margin-left: 15px;

                            i {
                                font-size: 60px;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }

            .product-link {
                margin: 43px 0px 52px 0px;

                ul {
                    display: flex;
                    width: 1171px;
                    justify-content: space-between;
                    padding: 0px 5px 0px 5px;
                    box-sizing: border-box;
                }
            }

            .footer {
                width: 1348px;
                height: 340px;
                box-sizing: border-box;
                background-color: #e7e7e7;
                margin-left: -90px;
                padding: 45px 135px 0px 90px;
                display: flex;

                .footer-info {
                    width: 370px;
                    height: 206px;
                    box-sizing: border-box;
                    background-color: #ffffff;
                    padding: 27px 27px 23px 22px;
                    box-sizing: border-box;
                    margin-right: 57px;


                    h2 {
                        font-size: 15px;
                        font-weight: bold;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #d7d7d7;
                    }

                    .footer-info-son {
                        display: flex;
                        margin: 15px 0px;

                        p {
                            font-size: 10px;
                            font-family: Arial, Helvetica, sans-serif;
                            margin-left: 20px;
                        }
                    }
                }

                .footer-menu {
                    height: 285px;
                    width: 203px;
                    display: block;
                    box-sizing: border-box;
                    margin-right: 65px;

                    h2 {
                        padding-bottom: 10px;
                        font-size: 15px;
                        font-weight: bold;
                    }

                    li {
                        p {
                            padding-top: 22px;
                            font-size: 10px;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }

                .footer-search {
                    h2 {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .title {
                        p {
                            margin: 33px 0px 12px 0px;
                            font-size: 10px;
                        }
                    }

                    .search {
                        .keyword {
                            height: 30px;
                            width: 200px;
                            border: none;
                            outline: 0;
                            margin-bottom: 10px;
                        }

                        .form-search {
                            width: 90px;
                            height: 25px;
                            background-color: #e67c8e;
                            border: none;
                            color: #ffffff;
                        }
                    }
                }
            }

            .last-web {
                width: 1294px;
                margin-left: -90px;
                padding: 0px 18px 5px 37px;
                display: flex;
                justify-content: space-between;

                p {
                    font-size: 10px;
                    margin-top: 33px;

                    a {
                        text-decoration: none;
                        color: #e67c8e;
                    }
                }

                a {
                    margin-top: 16px;

                    .up-back {
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        background-color: #e67c8e;

                        i {
                            color: #ffffff;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
}